In [1]:
import pandas as pd
import numpy as np

Ejercicios Apply

1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [30]:
df2=pd.read_csv ("pair_programming27dic.csv", index_col = 0)

In [31]:
df2

,country,density,abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2-emissions,cpi,cpi change,currency-code,fertility rate,forested area,gasoline price,unnamed 0_y,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population labor force participation,tax revenue,total tax rate,unemployment rate,urban_population,latitud,longitud
unnamed 0_x,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,0,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,1,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,2,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,3,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,4,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,190,"482,359,318,768",97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,191,"261,921,244,843",110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",('14.058324 ','108.277199')
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,192,"26,914,402,224",93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,193,"23,064,722,446",98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,1.34,194,"21,440,758,800",109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",('-19.015438 ','29.154857')

In [32]:
pd.set_option('display.max_columns', None)
df2

,country,density,abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2-emissions,cpi,cpi change,currency-code,fertility rate,forested area,gasoline price,unnamed 0_y,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population labor force participation,tax revenue,total tax rate,unemployment rate,urban_population,latitud,longitud
unnamed 0_x,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,0,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,1,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,2,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,3,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,4,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,190,"482,359,318,768",97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,191,"261,921,244,843",110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",('14.058324 ','108.277199')
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,192,"26,914,402,224",93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,193,"23,064,722,446",98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,1.34,194,"21,440,758,800",109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",('-19.015438 ','29.154857')

In [33]:
def cambiar_comas (columnas):
    try:
        return float (columnas.replace (",", ".") )
    except:
        return np.nan

In [34]:
df2["armed forces size"]=df2["armed forces size"].apply(cambiar_comas)
df2["armed forces size"]

unnamed 0_x
0      323.0
1        9.0
2      317.0
3        NaN
4      117.0
       ...
190    343.0
191    522.0
192     40.0
193     16.0
194     51.0
Name: armed forces size, Length: 195, dtype: float64

In [35]:
df2["co2-emissions"]=df2["co2-emissions"].apply(cambiar_comas)
df2["co2-emissions"]

unnamed 0_x
0        8.672
1        4.536
2      150.006
3      469.000
4       34.693
        ...
190    164.175
191    192.668
192     10.609
193      5.141
194     10.983
Name: co2-emissions, Length: 195, dtype: float64

In [36]:
df2["density"]=df2["density"].apply(cambiar_comas)
df2["density"]

unnamed 0_x
0       60.0
1      105.0
2       18.0
3      164.0
4       26.0
       ...
190     32.0
191    314.0
192     56.0
193     25.0
194     38.0
Name: density, Length: 195, dtype: float64

In [37]:
df2["cpi"]=df2["cpi"].apply(cambiar_comas)
df2["cpi"]

unnamed 0_x
0      149.90
1      119.05
2      151.36
3         NaN
4      261.73
        ...
190       NaN
191    163.52
192    157.58
193    212.31
194    105.51
Name: cpi, Length: 195, dtype: float64

In [38]:
def cambiar_comas2 (columnas):
    try:
        return float (columnas.replace (",", "") )
    except:
        return np.nan

In [39]:
df2["land area"]=df2["land area"].apply(cambiar_comas)
df2["land area"]

unnamed 0_x
0      652.230
1       28.748
2          NaN
3      468.000
4          NaN
        ...
190    912.050
191    331.210
192    527.968
193    752.618
194    390.757
Name: land area, Length: 195, dtype: float64

In [40]:
df2["population"]=df2["population"].apply(cambiar_comas2)
df2["population"]

unnamed 0_x
0      38041754.0
1       2854191.0
2      43053054.0
3         77142.0
4      31825295.0
          ...
190    28515829.0
191    96462106.0
192    29161922.0
193    17861030.0
194    14645468.0
Name: population, Length: 195, dtype: float64

In [41]:
df2["gdp"]=df2["gdp"].apply(cambiar_comas2)
df2["gdp"]

unnamed 0_x
0      1.910135e+10
1      1.527808e+10
2      1.699882e+11
3      3.154058e+09
4      9.463542e+10
           ...
190    4.823593e+11
191    2.619212e+11
192    2.691440e+10
193    2.306472e+10
194    2.144076e+10
Name: gdp, Length: 195, dtype: float64